.pizzaDetail {
    margin: 5%;
    padding: 5%;
    color: #E4FFB5;
    background-color: #1F4007;
    border: 0.35em solid #122604;
}
.addPanierDetail {
    margin: 0;
    background-color: #EFFF87;
    color: #1F4007;
    font-weight: 800;
}
.addPanierDetail:hover {
    margin: 0;
    color: #122604;
    background-color: #c5d36f;
}
.ingrListeDetail {
    margin-top: 1%;
    padding: 1% 1%;
    border: 0.3em solid #c5d36f;
    width: 30%;
}
.ingrListeDetail li{
    padding: 0.2em;
    font-weight: 500;
    font-size: larger;
}